:root {
  --main-body-color: linear-gradient(135deg, #fffbf6 0%, #b3a175 100%);
  --main-text-color: #381117;
  --secondary-text-color: #472429;
  --main-font-family: "Merienda", sans-serif;
  --secondary-font-family: "Sansita Smashed", sans-serif;
}

body {
  background: url(../images/noise.gif);
  opacity: 0.987;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: var(--secondary-text-color);
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 35px;
}

h2 {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 60px;
}

h3 {
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 25px;
}

.bg-custom-class {
  background-color: #f7f7f7;
}

.section-home {
  background: url(../images/home.jpeg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 30vh 20px 0;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  height: 121vh;
  width: 100%;
}

.section-projects {
  padding: 100px 0;
}

.btn-branding {
  background-color: rgb(245, 239, 239);
  color: var(--main-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 600;
  padding: 15px 25px;
  margin: 30px 0 0;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-branding:hover {
  background-color: #d6b3a7;
  color: rgb(114, 72, 72);
}

.btn-branding-second {
  background-color: #dfcdc7;
  color: var(--main-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 600;
  padding: 15px 55px;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-branding-second:hover {
  background-color: #eae0dd;
  color: rgb(89, 55, 55);
}

.projects-list {
  margin: 100px 0;
}

.img-work {
  border-radius: 20px;
  opacity: 0.9;
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .section-projects {
    text-align: center;
    margin: 0 20px;
  }

  .btn-branding-second {
    margin-top: 10px;
  }

  .projects-list {
    margin-top: 60px;
  }
}
