:root {
  --main-body-color: linear-gradient(135deg, #fffbf6 0%, #b3a175 100%);
  --main-text-color: #381117;
  --secondary-text-color: #472429;
  --main-font-family: "Merienda", sans-serif;
  --secondary-font-family: "Sansita Smashed", sans-serif;
}

body {
  background: url(../images/noise.gif);
  opacity: 0.987;
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
}

h1 {
  color: var(--secondary-text-color);
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 35px;
}

h2 {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 60px;
}

h3 {
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 25px;
}

.sectionHome {
  background: url(../images/home.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  padding: 200px 20px;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.btn-branding {
  background-color: rgb(245, 239, 239);
  color: var(--main-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 600;
  padding: 15px 25px;
  margin: 30px 0 0;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.btn-branding:hover {
  background-color: #d6b3a7;
  color: rgb(114, 72, 72);
}
